
/* Small Screen or Mobile Screen */

@media screen and (max-width: 576px) {

    /* Shared Styles */

    .container {
        width: 90%;
        max-width: 576px;
        margin-left: 0;
    }

    /* Header Styling */

    /* Navbar Section Start */

    .navbar {
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
    }

    .navbar .nav-logo {
        width: 100%;
        text-align: center;
    }

    .navbar .nav-menu-bar {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .navbar .nav-menu-bar li {
        padding:15px;
    }
    
    .navbar .nav-menu-bar i {
        padding: 15px;
    }

    /* Navbar Section End */

    




    
}