
/* Small Screen or Mobile Screen */

@media screen and (max-width: 576px) {

    /* Shared Styles */

    .container {
        width: 90%;
        max-width: 576px;
        margin-left: 0 auto;
    }

    /* Header Styling */

    /* Navbar Section Start */

    .navbar {
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
        margin-left: auto;
    }

    .navbar .nav-logo {
        width: 100%;
        text-align: center;
    }

    .navbar .nav-menu-bar {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .navbar .nav-menu-bar li {
        padding:15px;
    }
    
    .navbar .nav-menu-bar i {
        padding: 15px;
    }

    /* Navbar Section End */

    /* Banner Section Start */

    .banner {
        width: 100%;
        flex-direction: column-reverse;
        gap: 90px;
        background-position: top;
    }  
    
    

    .banner .banner-description h2 {
        text-align: center;
        font-size: 2.25rem;
        line-height: 50px;
    }

    .banner .banner-description .banner-short-description {
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }

    .banner .banner-description button {
        margin: 16px auto 0;
    }

    .banner .banner-img img {
        margin-top: 50px;
    }

    /* Banner Section End */
    
    /* Sponsored Section Start */

    /* .sponsored .sponsored-logo img {
        width: 10%;
    } */

    .sponsored .sponsored-logo {
        text-align: center;
        display: inline-block;
        border: 1px solid red;
    }

    .sponsored .sponsored-logo img {
        padding: 10px;
    }








    
}












/* Medium Device */

@media screen and (min-width: 576px) and (max-width: 768px) {
    
    /* Shared Styles */

    .container {
        width: 90%;
        max-width: 768px;
        
    }

    /* Header Styling */

    /* Navbar Section Start */

    .navbar {
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
    }

    .navbar .nav-logo {
        width: 100%;
        text-align: center;
    }

    .navbar .nav-logo h3 {
        font-size: 2.7rem;
    }

    .navbar .nav-menu-bar {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .navbar .nav-menu-bar li {
        padding:25px;
    }
    
    .navbar .nav-menu-bar i {
        padding: 25px;
    }

    /* Navbar Section End */


    /* Banner Section Start */

    .banner {
        width: 100%;
        flex-direction: column-reverse;
        gap: 80px;
        background-position: top;
    }  
    
    

    .banner .banner-description h2 {
        text-align: center;
        font-size: 3rem;
        line-height: normal;
    }

    .banner .banner-description .banner-short-description {
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }

    .banner .banner-description button {
        margin: 36px auto 0;
    }

    .banner .banner-img {
        width: 100%;
    }

    /* Banner Section End */

    /* Sponsored Section Start */











}